* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(170, 170, 170);
    box-shadow: 0 5px 10px rgba(110, 108, 108, 0.5);
    /* flex-wrap: wrap; */
}


header>figure {
    width: 55px;
    height: 45px;
    background-color: #F5F5F5;

}

.one-image {
    background-color: #FFFF;
    box-shadow:
        -5px 0 10px -1px rgba(0, 0, 0, 0.5),
        /* Left side shadow */
        5px 0 10px -1px rgba(0, 0, 0, 0.5);
    /* Right side shadow */
    flex-basis: 100px;
}

.one-image>img {
    width: 100%;
    height: 100%;
}

.one-image:hover {
    cursor: pointer;
}



.two-image {
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(170, 170, 170);
    margin-left: 5px;
    flex-basis: 95px;

}

.two-image>img {
    width: 80%;
    height: 80%;
}

.two-image:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.three-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(170, 170, 170);
    margin-left: 5px;
    flex-basis: 100px;
}

.three-image>img {
    width: 90%;
    height: 70%;
}

.three-image:hover {
    cursor: pointer;
    transform: scale(0.9);
}


.four-image {
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(170, 170, 170);
    justify-content: center;
    /* flex-grow: 0.1; */
    flex-basis: 150px;
}

.four-image>img {
    width: 90%;
    height: 100%;
}

.four-image:hover {
    cursor: pointer;
    background-color: rgba(138, 136, 136, 0.932);
    transform: scale(0.9);
}

.five-image {
    flex-basis: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgb(170, 170, 170);
}

.five-image>img {
    width: 100%;
    height: 100%;
}

.five-image:hover {
    cursor: pointer;
    background-color: rgba(138, 136, 136, 0.932);
    transform: scale(0.9);
}

.six-image {
    /* flex-grow: 0.2; */
    flex-basis: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;

}

.six-image>img {
    width: 100%;
    height: 100%;
}

.six-image:hover {
    cursor: pointer;
    background-color: rgba(138, 136, 136, 0.932);
    transform: scale(0.9);
}

/* 1st header completed */

/* 1st nav is completed  */

nav {
    width: 100%;
    height: 100px;
    /* background-color: blueviolet; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>div {
    width: 130px;
    height: 100px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}

.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 149, 149);
    /* justify-content: center; */
    border-radius: 2px;
    cursor: pointer;
    flex-wrap: wrap;
}

.box-1>i {
    font-size: 50px;
    color: #F5F5F5;
}

.box-1>p {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.Animation-red {
    width: 130px;
    height: 100px;
    position: relative;
    /* padding: 10px 10px; */
    /* background-color: ; */
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 6px solid red;
}

.Animation-red>p {
    font-family: sans-serif;
    color: rgb(155, 143, 143);
    font-weight: bold;
    font-size: 15px;
    /* margin-top: 20px; */
}

.Animation-red>i {
    color: rgb(150, 149, 149);
}

.Animation-red:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transform: scaleX(0);
    transition: 0s;
}

.Animation-red:hover:before {
    transform: scaleX(1);
    transition: 1s;
    transition-property: transform, background;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

.Animation-red:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    padding: 40px 22px;
    left: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* transform: scaleX(0); */
    transition: 0s;
}

.Animation-red:hover:after {
    top: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}

.Animation-orange {
    width: 130px;
    height: 100px;
    position: relative;
    /* padding: 10px 10px; */
    /* background-color: ; */
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 6px solid #ee6b2f;
}

.Animation-orange>p {
    font-family: sans-serif;
    color: rgb(155, 143, 143);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: -10px;
}

.Animation-orange>i {
    font-size: 40px;
    margin-bottom: 3px;
    color: rgb(150, 149, 149);
}

.Animation-orange:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ee6b2f;
    transform: scaleX(0);
    transition: 0s;
}

.Animation-orange:hover:before {
    transform: scaleX(1);
    transition: 1s;
    transition-property: transform, background;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

.Animation-orange:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    padding: 15px 19px;
    left: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* transform: scaleX(0); */
    transition: 0s;
}

.Animation-orange:hover:after {
    top: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}


.Animation-yellow {
    width: 130px;
    height: 100px;
    position: relative;
    /* padding: 10px 10px; */
    /* background-color: ; */
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 6px solid #e6bc2f;
}

.Animation-yellow>p {
    font-family: sans-serif;
    color: rgb(155, 143, 143);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: -10px;
}

.Animation-yellow>i {
    font-size: 40px;
    margin-bottom: 3px;
    color: rgb(150, 149, 149);
}

.Animation-yellow:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6bc2f;
    transform: scaleX(0);
    transition: 0s;
}

.Animation-yellow:hover:before {
    transform: scaleX(1);
    transition: 1s;
    transition-property: transform, background;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

.Animation-yellow:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    padding: 17px 25px;
    left: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* transform: scaleX(0); */
    transition: 0s;
}

.Animation-yellow:hover:after {
    top: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}

.Animation-green {
    width: 130px;
    height: 100px;
    position: relative;
    /* padding: 10px 10px; */
    /* background-color: ; */
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 6px solid #4dad5b;
}

.Animation-green>p {
    font-family: sans-serif;
    color: rgb(155, 143, 143);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: -5px;
}

.Animation-green>i {
    font-size: 45px;
    margin-bottom: 10px;
    color: rgb(150, 149, 149);
}

.Animation-green:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4dad5b;
    transform: scaleX(0);
    transition: 0s;
}

.Animation-green:hover:before {
    transform: scaleX(1);
    transition: 1s;
    transition-property: transform, background;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

.Animation-green:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    padding: 40px 15px;
    left: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* transform: scaleX(0); */
    transition: 0s;
}

.Animation-green:hover:after {
    top: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}

.Animation-blue {
    width: 130px;
    height: 100px;
    position: relative;
    /* padding: 10px 10px; */
    /* background-color: ; */
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 6px solid #30a7d7;
}

.Animation-blue>p {
    font-family: sans-serif;
    color: rgb(155, 143, 143);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: -12px;
}

.Animation-blue>i {
    font-size: 40px;
    margin-bottom: 3px;
    color: rgb(150, 149, 149);
}

.Animation-blue:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #30a7d7;
    ;
    transform: scaleX(0);
    transition: 0s;
}

.Animation-blue:hover:before {
    transform: scaleX(1);
    transition: 1s;
    transition-property: transform, background;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

.Animation-blue:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    padding: 15px 20px;
    left: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* transform: scaleX(0); */
    transition: 0s;
}

.Animation-blue:hover:after {
    top: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}



.Animation-dark-blue {
    width: 130px;
    height: 100px;
    position: relative;
    /* padding: 10px 10px; */
    /* background-color: ; */
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 6px solid #1b53ba;
}

.Animation-dark-blue>p {
    font-family: sans-serif;
    color: rgb(155, 143, 143);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: -5px;
}

.Animation-dark-blue>i {
    font-size: 45px;
    margin-bottom: 10px;
    color: rgb(150, 149, 149);
}

.Animation-dark-blue:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b53ba;
    transform: scaleX(0);
    transition: 0s;
}

.Animation-dark-blue:hover:before {
    transform: scaleX(1);
    transition: 1s;
    transition-property: transform, background;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

.Animation-dark-blue:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    padding: 40px 35px;
    left: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* transform: scaleX(0); */
    transition: 0s;
}

.Animation-dark-blue:hover:after {
    top: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}
/* nav bar is complted */

/* new card section */
.backgroun-image{
    background-image: url(Assets/images/background\ image.jpg);
    background-size: cover;
}
.card{
    width: 100%;
    /* height: 50vh; */
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.card-img1{
    width: 200px;
    height: 35vh;
    background-color: #4dad5b;
    margin-left: 10px;
    margin-top: 3vw;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.card-img1 img{
    width: 100%;
    
}

.card-img1 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2vw;
    margin-left: 10px;
}

.card-img2{
    width: 200px;
    height: 35vh;
    background-color: #1b53ba;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img2 img{
    width: 100%;
    
}

.card-img2 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    /* margin-top: 0.5vw; */
    padding: 10px;
}

.card-img3{
    width: 200px;
    height: 35vh;
    background-color: #cfaf2a;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img3 img{
    width: 100%;
    
}

.card-img3 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2vw;
    margin-left: 10px;
}

.card-2{
    width: 100%;
    /* height: 50vh; */
    /* background-color: rgb(15, 58, 72); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card-img4{
    width: 200px;
    height: 35vh;
    background-color: #b38aea;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img4 img{
    width: 100%;
    
}

.card-img4 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2vw;
    margin-left: 10px;
}

.card-img5{
    width: 200px;
    height: 35vh;
    background-color: #d84f9d;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img5 img{
    width: 100%;
    
}

.card-img5 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2vw;
    margin-left: 10px;
}

.card-img6{
    width: 200px;
    height: 35vh;
    background-color: #1847d7;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img6 img{
    width: 100%;
    
}

.card-img6 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2vw;
    margin-left: 10px;
}
/* done */

.slide-img{
    width: 100%;
    /* height: 70vh; */
    /* background-color: #b32a0a; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vw;
}

.card-img{
    width: 219px;
    height: 45vh;
    background-color: rgba(86, 84, 84);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
    flex-direction: column;
}

.card-img img{
    width: 100%;
    filter: contrast(0.4);

}

.card-imges{
    width: 380px;
    height: 45vh;
    background-color: #525252;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-imges > img{
    width: 90%;
    margin-top: -5vw;
}

.slide-2{
    width: 100%;
    /* background-color: #1847d7; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-text{
    width: 218px;
    height: 26vh;
    background-color: #313131;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
color: white;
}

.card-textses{
    width: 380px;
    height: 31vh;
    background-color: #313131;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first{
    width: 380px;
    height: 50px;
    /* background-color: #975fe2; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.first p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
}

.first span{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.second{
    width: 380px;
    height: 50px;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    padding:20px;
}

.second p{
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second button{
    width: 60px;
    height: 30px; 
background-color: yellow;
font-family: sans-serif;
border: none;
color: black;
border-radius: 6px;
font-size: 10px;
text-transform:uppercase;
margin-left: 5vw;
cursor: pointer;
transition: transform 0.3s ease;
}

.second button:hover{
    transform: scale(1.2);
}

.third{
    width: 380px;
    height: 50px;
    /* background-color: #b32a0a; */
    display: flex;
    align-items: center;
    padding:20px;
}

.third p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
}
.third span{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 2.5vw;
}
.one-saperate-btn{
    width: 100%;
    height: 13vh;
    /* background-color: #309ed7; */
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.one-saperate-btn button{
    width: 210px;
    height: 8vh;
    font-weight: 550px;
    background-color: #232323;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 49vw;
    transition: transform 0.3s ease;
}

.one-saperate-btn >button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* done */

.cards-3{
    width: 100%;
    /* height: 50vh; */
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.card-img7{
    width: 200px;
    height: 35vh;
    background-color: #4dad5b;
    margin-left: 10px;
    margin-top: 3vw;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.card-img7 img{
    width: 100%;
    
}

.card-img7 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2vw;
    margin-left: 10px;
}

.card-img8{
    width: 200px;
    height: 35vh;
    background-color: #1b53ba;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img8 img{
    width: 100%;
    
}

.card-img8 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 0.7vw;
    padding: 10px;
}

.card-img9{
    width: 200px;
    height: 35vh;
    background-color: #cfaf2a;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img9 img{
    width: 100%;
    
}

.card-img9 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 1.5vw;
    margin-left: 10px;
}

.cards-4{
    width: 100%;
    /* height: 50vh; */
    /* background-color: rgb(15, 58, 72); */
    display: flex;

    justify-content: center;
    flex-wrap: wrap;

}

.card-img10{
    width: 200px;
    height: 35vh;
    background-color: #b38aea;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img10 img{
    width: 100%;
    
}

.card-img10 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2vw;
    margin-left: 10px;
}

.card-img11{
    width: 200px;
    height: 35vh;
    background-color: #d84f9d;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img11 img{
    width: 100%;
    
}

.card-img11 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2vw;
    margin-left: 10px;
}

.card-img12{
    width: 200px;
    height: 35vh;
    background-color: #1847d7;
    margin-left: 10px;
    margin-top: 3vw;
}

.card-img12 img{
    width: 100%;
    
}

.card-img12 h4{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 2.2vw;
    margin-left: 10px;
}
/* done */

footer{
    width: 100%;
    /* height: 50vh; */
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-1st-child{
    width: 400px;
    height: 45vh;
    /* background-color: #4dad5b; */
    margin-top: 2vw;
    
    
    
}

.footer-1st-child h1{
    font-family:sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 10px;

}

.footer-1st-child input{
    width: 390px;
    height: 8vh;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 550;
    padding: 20px;
    margin-top: 2vw;
}
.second-input{
    width: 400px;
    height: 10vh;
    /* background-color: #30a7d7; */
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.second-input input{
width: 185px;
font-family: sans-serif;
/* padding: 30px; */
}

.third-input{
    margin-left: 20px;
}
.footer-1st-child button{
    width: 160px;
    height: 11vh;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 550;
    color: #FFFFFF;
    background-color: #808080;
    cursor: pointer;
    transition: transform 0.5s ease;
    margin-top: 2vw;
}

.footer-1st-child button:hover{
transform: scale(1.1);
}

.footer-2nd-child{
    width: 400px;
    height: 25vh;
    /* background-color: #9cab9e; */
    margin-left: 2vw;
    margin-top: 2vw;
    
}

.footer-2nd-child p{
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}

.checkbox-container{
    width: 350px;
height: 5vh;
/* background-color: #30a7d7; */
display: flex;
flex-direction: row;
align-items: center;
font-family: sans-serif;
color: white;
margin-top: 1vw;


}

.checkbox-container input{
    width: 25px;
    height: 5vh;
    border-radius: 10px;
    border: none;
    
}

.checkbox-container-2{
    width: 350px;
height: 5vh;
/* background-color: #30a7d7; */
display: flex;
flex-direction: row;
align-items: center;
font-family: sans-serif;
color: white;
/* margin-left: 30px; */
margin-top: 1vw;
}

.checkbox-container-2 input{
    width: 25px;
    height: 5vh;
    border-radius: 10px;
    border: none;
    
}

.footer-1{
    width: 263px;
    height: 40vh;
    /* background-color: #b38aea; */
    margin-left: 2.7vw;
    border-right:4px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
   
    
}

.footer-1 h4{
    font-family: sans-serif;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    margin-top: 30px;


}
.footer-1 p{
    margin-top: 20px;
    display: flex;flex-direction: column;
}

.footer-1 a{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    margin: 1.5px;
}

a{
    color: white;
}
a:hover{
    text-decoration: underline;
}


.footer-2{
    width: 263px;
    height: 40vh;
    /* background-color: #b38aea; */
    margin-left: 2.7vw;
    border-right:4px solid black;
    margin-top: 4vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.footer-2 a{
    margin-top: 2vw;
    width: 40px;
    height: 30px;
}
a > img{
    width: 100%;
}

.footer-3{
    width: 263px;
    height: 35vh;
    /* background-color: #b38aea; */
    margin-left: 2.7vw;
    display: flex;
    flex-direction: column;
    
}
.footer-3 p{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 2.5vw;
    
}
.footer-3 a{
    text-decoration: white;
}
a:hover{
    text-decoration: underline;
}

.footer-3 > span{
    font-family: sans-serif;
    font-size: 10px;
    color: white;
    margin-top: 1.5vw;
}
